<h1 align="center">Información General</h1>
<br/>
<div>El Sistema de Autoevaluación Psicológica es una aplicación web creada para aplicar el test psicológico "Estilos de Aprendizaje", creado por la Decana de la Facultad de Ciencias Humanas: Liliana Galván Oré.</div>
<br />
<div>El test psicológico "Estilos de Aprendizaje" fué creado en base al Modelo de Cerebro Multidominante de Ned Herrmann y propone la existencia de cuatro estilos del pensamiento.</div>
<br />
<div>Los estilos del pensamiento los siguientes:
  <ul>
    <li>Estilo Lógico: Valora los hechos, las medidas, los indicadores de logro, la convergencia de ideas.</li>
    <li>Estilo Formal: Valora el tiempo, los procesos, la administración y la organización de la información.</li>
    <li>Estilo Emotivo: Valora las relaciones humanas, los afectos, la proyección y la interacción social.</li>
    <li>Estilo Intuitivo: Valora la creación de nuevas ideas, estructuras y estrategias. Posee alta capacidad de riesgo, necesidad de búsqueda y experimentación.</li>
  </ul>
</div>
<br />
<br />
<h1 align="center">Importancia de los Estilos del Pensamiento</h1>
<br/>
<div>
  Cada estilo del pensamiento nos brinda una forma diferente de tomar valorar los hechos y tomar decisiones. El desarrollo del los estilos del pensamiento está relacionado a las actividades que realizamos y difiere entre una persona y otra.
</div>
<br />
<div>
  Aprender a través de estas cuatro perspectivas permite desarrollar la inteligencia en varios niveles, cognitivo, emocional, perceptual y descriptivo, para así enfrentarse a su entorno real con mayores posibilidades de adaptación y desarrollo.
</div>
<br />
<div>
  <br />
  <center>
  <%= image_tag "/images/modelo_herman.jpg" %>
  </center>
  <center>
    <%= label_tag :referencia, "Cada estilo del pensamiento está representado por un cuadrante del cerebro." %>
  </center>
</div>
<br />
<br />
<h1 align="center">Usos del Test Psicológico</h1>
<br />
<div>
  El test psicológico tiene diversas aplicaciones. Entre ellas tenemos:
  <ul>
    <li>Conocer los estilos del pensamiento dominantes y de baja preferencia a nivel individual y asi poder desarrollar nuestros estilos del pensamiento en base a nuestros objetivos.</li>
    <li>Mejorar la calidad educativa en base al desarrollo de cada estilo del pensamiento.</li>
    <li>Medir el estilo del pensamiento en una organización.</li>
    <li>Establecer estrategias efectivas de comunicación para los diferentes tipos de personas.</li>
  </ul>
</div>